.container {
    /* padding: var(--padding-16px); */
    padding: 1rem;
    background: var(--clr-primary);
}

.closeBtn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


.logout {
    display: flex;
    align-items: center;
    /* margin-top: 20px; */
    /* padding: var(--padding-20px) 0px; */
    padding: 1rem 0px;
    /* font-size: var(--font-size-15px); */
    font-size: var(---font-size-sm);

    cursor: pointer;
}